In [1]:
import pandas as pd 
US_flights = pd.read_csv('/content/drive/MyDrive/UK_flights_plan.csv')
US_flights.drop(labels='REQA_flights',axis=1)

,Source,Source City,Source Country,Target,Target City,Target Country,Weight,Start Lon,Start Lat,End Lon,End Lat,Domestic
0,ADL,Adelaide,Australia,MEL,Melbourne (AU),Australia,19282,NaN,NaN,NaN,NaN,True
1,ADL,Adelaide,Australia,MEL,Melbourne (AU),Australia,6760,NaN,NaN,NaN,NaN,True
2,ADL,Adelaide,Australia,BNE,Brisbane,Australia,5328,NaN,NaN,NaN,NaN,True
3,ADL,Adelaide,Australia,PER,Perth,Australia,144,NaN,NaN,NaN,NaN,True
4,ADL,Adelaide,Australia,OOL,Gold Coast,Australia,78,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
185043,KZB,Zachar Bay,USA,ADQ,Kodiak,USA,32,NaN,NaN,NaN,NaN,True
185044,KZB,Zachar Bay,USA,ADQ,Kodiak,USA,72,NaN,NaN,NaN,NaN,True
185045,KZB,Zachar Bay,USA,ADQ,Kodiak,USA,72,NaN,NaN,NaN,NaN,True
185046,KZB,Zachar Bay,USA,ADQ,Kodiak,USA,36,NaN,NaN,NaN,NaN,True
185047,KZB,Zachar Bay,USA,ADQ,Kodiak,USA,40,NaN,NaN,NaN,NaN,True

In [ ]:
US_flights.head(10)

  Source Source City Source Country  ... End Lon End Lat Domestic
0    ADL    Adelaide      Australia  ...     NaN     NaN     True
1    ADL    Adelaide      Australia  ...     NaN     NaN     True
2    ADL    Adelaide      Australia  ...     NaN     NaN     True
3    ADL    Adelaide      Australia  ...     NaN     NaN     True
4    ADL    Adelaide      Australia  ...     NaN     NaN     True
5    ADL    Adelaide      Australia  ...     NaN     NaN     True
6    ADL    Adelaide      Australia  ...     NaN     NaN     True
7    ADL    Adelaide      Australia  ...     NaN     NaN     True
8    ADL    Adelaide      Australia  ...     NaN     NaN     True
9    ADL    Adelaide      Australia  ...     NaN     NaN     True

[10 rows x 13 columns]

In [ ]:
import numpy as np

In [ ]:
airports = pd.read_csv('/content/drive/MyDrive/Airports.csv', encoding= 'unicode_escape')
airports

       id           label      country       Lat         Lon
0     BIN          Bamyan  Afghanistan  34.800000  67.816667
1     BST     Lashkar Gah  Afghanistan  31.582998  64.360000
2     CCN     Chaghcharan  Afghanistan  34.516701  65.250001
3     DAZ          Darwaz  Afghanistan  38.466667  70.883333
4     FAH           Farah  Afghanistan  32.391730  62.096819
...   ...             ...          ...        ...        ...
9028  MJW         Mahenye     Zimbabwe -21.116667  32.383333
9029  MVZ        Masvingo     Zimbabwe -20.059617  30.820020
9030  UTA          Mutare     Zimbabwe -18.970019  32.650038
9031  VFA  Victoria Falls     Zimbabwe -17.929617  25.840014
9032  WKI          Hwange     Zimbabwe -18.370004  26.500026

[9033 rows x 5 columns]

In [ ]:
US_airports = pd.read_csv('/content/drive/MyDrive/Airports.csv', encoding= 'unicode_escape')
req_a = np.where(US_airports['country']=="United States",True,False)
US_airports["REQA"] = req_a
US_airports = US_airports.drop(US_airports[US_airports.REQA == False].index)
US_airports

       id                       label  ...         Lon  REQA
6795  0A7      Hendersonville Airport  ...  -82.450000  True
6796  AAP              Andrau Airpark  ...  -95.588333  True
6797  ABE  Allentown/Bethlehem/Easton  ...  -75.440278  True
6798  ABI                     Abilene  ...  -99.683333  True
6799  ABL                      Ambler  ... -157.851409  True
...   ...                         ...  ...         ...   ...
8764  ZWB           Williamsburg Rail  ... -113.000000  True
8765  ZWI             Wilmington Rail  ...  -77.900000  True
8766  ZWW           Newport News Rail  ...  -99.000000  True
8767  ZXS      Exchangest Railway Svc  ...  -78.875278  True
8768  ZZV                  Zanesville  ...  -82.013325  True

[1974 rows x 6 columns]

In [ ]:
import plotly.graph_objects as go

In [ ]:
fig.add_trace(go.Scattergeo(
    locationmode = 'USA-states',
    lon = US_airports['Lon'],
    lat = US_airports['Lat '],
    hoverinfo = 'text',
    text = US_airports['label'],
    mode = 'markers',
    marker = dict(
        size = 2,
        color = 'rgb(255, 0, 0)',
        line = dict(
            width = 3,
            color = 'rgba(68, 68, 68, 0)'
        )
    )))

lons = []
lats = []
import numpy as np
lons = np.empty(3 * len(US_flights))
lons[::3] = US_flights['Start Lon']
lons[1::3] = US_flights['End Lon']
lons[2::3] = None
lats = np.empty(3 * len(US_flights))
lats[::3] = US_flights['Start Lan']
lats[1::3] = US_flights['End Lat']
lats[2::3] = None

flight_paths = []
for i in range(len(US_flights)):
    fig.add_trace(
        go.Scattergeo(
            locationmode = 'USA-states',
            lon = [US_flights['Start Lon'][i], US_flights['End Lon'][i]],
            lat = [US_flights['Start Lat'][i], US_flights['End Lat'][i]],
            mode = 'lines',
            line = dict(width = 1,color = 'red'),
            opacity = float(US_flights['Weight'][i]) / float(US_flights['Weight'].max()),
        )
    )

fig.update_layout(
    geo = go.layout.Geo(
        scope = 'north america',
        projection_type = 'azimuthal equal area',
        showland = True,
        landcolor = 'rgb(243, 243, 243)',
        countrycolor = 'rgb(184, 184, 184)',
    ),
    height=700,
)

fig.show()

In [ ]:
fig.show()

Output hidden; open in https://colab.research.google.com to view.